{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}

    <div class="container row text-center">
        {% for program in programs %}
        <div class="card col-4" style="width: 18rem;">
            <img src="{{ program.poster }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ program.title }}</h5>
                <p class="card-text">{{ program.summary }}</p>
                <a href="{{ path('program_show', {'id': program.id}) }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
