{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
    <div class="card mb-3">
        <img src="{{ program.poster }}" class="card-img-top w-50" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ program.title }}</h5>
            <p class="card-text">{{ program.summary }}</p>
        </div>
    </div>
{% endblock %}
