{% extends 'base.html.twig' %}

{% block title %}Hello DefautController!{% endblock %}

{% block body %}
    <h1 class="display-2">Bienvenue sur wild-series</h1>
    <img src="{{ asset('build/imageorators2.jpeg') }}" alt="gdfg"/>
{% endblock %}
